$red-color:  #C3073F;
$white-color:#fff;
$black-color: #1A1A1D;
$navbar-color: #f5f5f7;
$sky-color:  #b3ffff;


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  
}
.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  
 


 
  justify-content:space-evenly;
  
  

  &__desc {
    padding: 0;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    


    &--name {
      color: $red-color;
    }
  
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 50%;
  margin: 20px;
  color: $white-color;
  
 

  


  background-image: url(../bgimg.JPG);
  background-size: cover;
  border-radius: 50%;
  height: 23rem;
  margin-top: 120px;
  
 


 

  
  
  

  
}



.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:$white-color;
  width: 50%;
  

  
  }
  
 

  &__btn {
    margin-top: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: $white-color;
   
    font-size: 1.2rem;
    border-radius: 5px;

    &:hover {
      background-color: $black-color; 
      color: $red-color;
      border: 1px solid $sky-color;
    }
  }
}


.bgimg{
 
  height: 80vh;
  border-radius: 20px;
}








.about_sec {
  height: 100vh;
  



  &--hd {
    color: $white-color;
    font-size: 3rem;
    margin-top: 2rem;
    border-top: 0.5px solid $sky-color;
    padding-top: 2rem;
    border-top-style:groove;
    
    

  }
  &--intro{
    color: $white-color;

    h1{
      padding-top: 30px;
      font-weight: normal;
      letter-spacing: 2px;
      font-size: 30px;
    }

    p{
      letter-spacing: 2px;
      padding: 50px;
      line-height: 30px;
      font-size: large;
    }
    a{
      color: $red-color;
      text-decoration: none;
      font-size: 20px;
    }
    a:hover{
      transition:all ease-out;
      font-size: 35px;

    }
    button{
      padding: 5px;
      margin: 5px;
    }
  }
  
}

.portfolio_sec {
 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  

 
&--hd {
    color: $white-color;
    font-size: 3rem;
    margin-top: 2rem;
    border-top: 1px solid $sky-color;
    padding-top: 2rem;
    border-top-style:groove;

    
    
    

  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 15px;
  grid-template-rows: repeat(3, 100px);
  padding: 15px;
  height: 100%;
  width: auto;
  
  
  
}
.grid-item {
  background-color: $sky-color;


 
  &.one {
    grid-row: span 2;
    grid-column: span 3;
    background-image: url(../1.jpeg);
    background-size: cover;
   
    transition: all ease-in-out 300ms;
    background-position: top left;

    

    &:hover {
      background-blend-mode: none;
      background-position: center;
      
    }
  }
  &.two {
    grid-row:  span 2;
    grid-column:  span 2;
  }
  &.three {
    grid-row: span 1;
    grid-column: span 2;
  }
  &.four {
    grid-row: span 0;
    grid-column: span 1;
  }
  &.five {
    grid-row: span 1 ;
    grid-column: span 1;
  }

} 


 
 
 




